@import "tailwindcss";

@keyframes pinkWave {

  0%,
  100% {
    color: #a855f7;
    /* purple-500 */
  }

  50% {
    color: #ec4899;
    /* pink-500 */
  }
}

.animate-wave {
  animation: pinkWave 2s infinite ease-in-out;
}

@layer utilities {
  .animate-slide-up {
    animation: slideUp 0.4s ease-out forwards;
  }

  @keyframes slideUp {
    from {
      transform: translateY(100000000px);
      opacity: 0;
    }

    to {
      transform: translateY(100px);
      opacity: 1;
    }
  }
}